body {
  font-family: "Poppins", sans-serif;
  margin: 0%;
}
h1 {
  font-size: 50px;
}
h3 {
  font-size: 25px;
}
.coffee_color {
  color: rgb(113, 62, 26);
}
.flexible_container {
  display: flex;
  margin-bottom: 100px;
}
.top_banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.half_width {
  width: 100%;
  padding: 2%;
}
.half-width image {
  height: 50%;
  width: 80%;
}
.anchor_button {
  text-decoration: none;
  background: rgb(173, 179, 179);
  padding: 10px 20px;
  border-radius: 7px;
  color: rgb(50, 49, 48);
  font-weight: 1000;
}
.roast_area {
  background-image: url(images/dream-bg.png);
  background-position: right;
  background-repeat: no-repeat;
}
.difference_area {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
.difference_area h3 {
  color: rgb(74, 43, 20);
}
.items {
  box-shadow: 5px 7px 40px gray;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 20px;
  width: 40%;
  border-left: 7px solid;
}
#house_blend {
  border-image: linear-gradient(180deg, rgb(125, 57, 30), rgb(93, 44, 9));
  border-image-slice: 1;
}
#colombian_roast {
  border-image: linear-gradient(180deg, rgb(83, 79, 77), rgb(75, 81, 81));
  border-image-slice: 1;
}
footer {
  text-align: center;
}
